# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python environment
venv/
env/
*.env

# Compiled C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
MANIFEST

# Pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints/

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled Python bytecode (uncomment if using flake8, black, etc.)
# __pycache__/
# *.pyc

*.db

working
applied
